html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  background-image: radial-gradient(closest-side, #434343 0%, #000 100%);
}

#control-panel {
  width: 100%;
  height: 12rem;
  position: absolute;
  top: 50%;
  transform: translateY(-12rem);
  margin: 0 auto;
}

#wordmark {
  display: block;
  height: 3rem;
  margin: 3rem auto;
}

#controls {
  display: flex;
  flex-direction: row;
  width: 35rem;
  height: 3.2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}

#url-bar {
  background-color: transparent;
  flex: 1;
  border: none;
  padding-left: 1rem;
}

#go-button {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../images/go.svg')
}